<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="PizzeriaSconosciuto.Properties.Settings.PizzeriaConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Pizzeria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PizzeriaSconosciuto.Properties.Settings.PizzeriaConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pizzeria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
</configuration>